<!DOCTYPE html>
<html>
  <head>
  </head>
  <body onload="init();">
    <h1>Take a snapshot of the current video stream</h1>
    <p>
      Click on the Start WebCam button.
    </p>
    <p>
      <button onclick="startWebcam();">Start WebCam</button>
      <button onclick="stopWebcam();">Stop WebCam</button> 
      <button onclick="snapshot();">Take Snapshot</button> 
    </p>
    <video onclick="snapshot();" width=400 height=400 id="video" controls autoplay></video>
    <p>
      Screenshots:
    </p>
    <canvas id="myCanvas" width="400" height="350"></canvas>
    <img id="myImage" src="" alt="Original Image">

    <script>
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
      navigator.getUserMedia = (navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
          navigator.getUserMedia(
            // constraints
            {
              video: true,
              audio: false
            },
            // successCallback
            function (localMediaStream) {
              video = document.querySelector('video');
              video.srcObject = localMediaStream;
              webcamStream = localMediaStream;
            },
            // errorCallback
            function (err) {
              console.log("The following error occurred: " + err);
            }
          );
        } else {
          console.log("getUserMedia not supported");
        }
      }

      function stopWebcam() {
        if (webcamStream) {
          webcamStream.getTracks().forEach(track => track.stop());
        }
      }

      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
      }

      function snapshot() {
        // Draws the current image from the video element into the canvas
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        const image64 = canvas.toDataURL("image/jpeg");
        const image64_trimmed = image64.replace(/^data:image\/\w+;base64,/, "");
        const data = {
          
          "image": image64_trimmed,
          "return_frame": "y"
          
        }
        const endpoint = "http://localhost:80/vertification";

        // Make the POST request
        fetch(endpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            // Add any other headers if needed
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then(data => {
            var myImage = document.getElementById('myImage');
            myImage.src = 'data:image/jpeg;base64,' + data.image
            console.log("Success:", data);
          })
          .catch(error => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
